<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Gracias por tu compra</title>
    <link rel="stylesheet" href="../../static/css/thanks.css">
</head>

<body>
    <div class="container">
        <h1>¡Gracias por tu compra!</h1>
        <p>Tu pedido ha sido procesado y se enviará en breve.</p>
        <input class="more-link" type="button" onclick="history.back()" name="volver atrás" value="Volver ">
    </div>
    <div class="animation-container"></div>
    <script src="../../static/js/thanks.js"></script>
</body>

</html>