{% extends 'layout.html' %} {% block content %} {% include 'navbar.html' %}

<br><br><br>

<center>


    <h4 id="login" class="mt-1 mb-5 pb-1">Developers <i class="fa-solid fa-computer"></i></h4>
</center>
<div style="display: flex; justify-content: center; width: 100%;">
    <center>
        <div class="card" style="width: 18rem; ">
            <img src="../../static/images/programer2.jpeg" class="card-img-top" alt="..." style="height: 379px;">
            <div class="card-body">

                <p class="card-text"><i class="fa-solid fa-user"></i> <b>Leydi Milena Portilla Mueses</b></p>
                <p class="card-text"><i class="fa-solid fa-envelope"></i> <b>lmportillam@gmail.com</b></p>
                <p class="card-text"><i class="fa-solid fa-phone"></i> <b>+57 324 564 7071</b></p>

            </div>
        </div>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <div class="card" style="width: 18rem;">
            <img src="../../static/images/programer1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">

                <p class="card-text"><i class="fa-solid fa-user"></i> <b>Mario David Cordoba Ñañez</b></p>
                <p class="card-text"><i class="fa-solid fa-envelope"></i> <b>david382777@gmail.com</b></p>
                <p class="card-text"><i class="fa-solid fa-phone"></i> <b>+57 322 294 5859</b></p>

            </div>
        </div>
    </center>
</div>
{% include 'navinf.html' %}{% endblock content %}